###############################################################
# Ignore PhpStorm Files
###############################################################

.idea

###############################################################
# Ignore Vagrant Files
###############################################################

.vagrant
